.main-content {
  background-color: var(--color-blue);
  padding-bottom: 36px;
  min-height: 100%;
}

.board {
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: var(--shadow-board);
  padding: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  column-gap: 24px;
  align-items: start;
}

.board-col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
