// tarjetas

// hay tres tipos de tarjetas
// 1. con imagen y descripcion
// 2. imagen
// 3. descripción

.article-card {
  width: 100%;
  border: var(--border);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: var(--shadow-card);
}

.card-content {
  padding: 24px;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #fafafa;
  color: #4d4d4d;
  border: var(--border-tag);
  border-radius: 16px;
  font-size: 12px;
  padding: 2px 10px;
}
