//menu de navegación

.navbar-container {
	background: var(--color-dark-blue);
	padding: 10px 0;
}

.navbar {
	border-radius: 30px;
	font-size: 14px;
	background: #fff;
	position: relative;

	.nav-link {
		color: var(--color-dark-blue) !important;
	}
}

.nav-item {
	margin: 0 8px;
}

// pagina activa
.nav-item.active {
	background: var(--color-dark-blue);
	border-radius: 4px;

	.nav-link {
		color: #fff !important;
		padding-left: 4px;
	}
}

// barra de busqueda
.rounded-form {
	border-radius: 24px;
	border: var(--border);
	width: fit-content;
	height: 32px;
	display: flex;
	position: absolute;
	top: 11px;
	right: 16px;

	.form-control {
		border: none;
		background: none;
		margin-left: 8px;
		height: 32px;

		&:focus {
			border: none;
			box-shadow: none;
			background: none;
		}
	}

	.search-btn {
		margin-right: 3px;
		width: 26px;
		height: 26px;
		padding: 0;

		img {
			width: 26px;
			height: 26px;
		}
	}
}

// boton abrir y cerrar menu (pantallas pequeñas)
.navbar-toggler {
	border: none !important;
}

.navbar-toggler-icon {
	width: 1em !important;
}

@media screen and (max-width: 375px) {
	.rounded-form .form-control {
		width: 160px;
	}
}
