// variables

:root {
	--color-blue: #00b5e2;
	--color-dark-blue: #071d49;
	--color-grey: #565a5c;

	--border: 1px solid #c8cdd7;
	--border-tag: 1px solid #808080;

	--shadow-card: 5px 5px 4px rgb(0, 0, 0, 0.2);
	--shadow-board: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}
